<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora similique veniam quaerat quisquam temporibus ipsam laboriosam. Necessitatibus impedit saepe itaque.</p>
    </div>
</section>