
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs & MongoDb</h1>
  <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sint assumenda repellat. Ipsam, quasi expedita?</p>

  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quam voluptates! Delectus, cum. Facere velit quam vitae debitis officia quibusdam praesentium itaque odio aperiam natus! Nemo recusandae non consectetur ab.</p>
  <a href="https://pornhub.com" class="btn btn-primary">OmarWeb</a>
</div>